.App{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(/src/images/blackboard-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container{
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    max-width: 900px;
    
}

header{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
    color: #E9CE2D;
}

.Title{
    text-decoration: underline;
}

.partOfSpeech{
    text-transform: capitalize;
    color: #3b6c74;
}

.Phonetics{
    margin-left: 50px;
    color: #E9CE2D;
}

