.Footer {
  color: #161623;
  margin-top: 10px;
  padding-bottom: 35px;
}

a {
  color: #161623;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #161623;
  text-decoration: none;
}
