form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search{
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.submit-btn{
    background-color: #E9CE2D;
    border: 1px solid black;
    border-radius: 8px;
    padding: 7px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}